/* add custom font form computer*/
@font-face {
    font-family: 'clash-display-regular';
    src: url('../fonts/ClashDisplay-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'clash-display-medium';
    src: url('../fonts/ClashDisplay-Medium.otf') format('truetype');
}


body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #101010;
    color: #fff;
    padding: 10px 0;
    text-align: center;

}

body header h1.title{
    font-family: 'clash-display-medium', sans-serif;
    font-size: 2.5rem;
    margin: 20px 0
}

body h1{
    font-family: 'clash-display-medium', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

body h2{
    font-family: 'clash-display-medium', sans-serif;
    font-size: 2rem;
    margin: 0;
}

h3 {
    color: #333;
}

p.genre{
    margin-top: -5px;
    font-size: 20px;
}


p.intro{
    padding: 0 200px;
    margin-top: 50px;
    font-size: 20px;
}

section {
    /* width: 80%; Sets the width to 80% of the parent element */
    margin: 0 auto; /* Centers the container horizontally */
    /* padding: 20px; Gives the content inside the container a 20px padding all around
    background-color: #f5f5f5; /* Sets the background color to a light grey */
    /* border-radius: 5px; Gives the container slightly rounded corners */ 
    /* align center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.members {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 30px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 50px;
}

.member img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.5s;
}

.member img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}


footer {
    background-color: #101010;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: -10;
}

#visualization {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* border: 1px solid #ccc; */
}
.radarChart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    
    /* border: 1px solid #ccc; */
}
div.radarChart{
    margin-top: 20px;
    margin-bottom: 120px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

button {
    background-color: #101010;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    width: 180px;
    font-family: "clash-display-regular";
    font-weight: 500;
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid #101010;
}


/* div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  } */

  .tooltiptest {
    position: absolute;
    z-index: 1000;  /* Add a high z-index */
    background-color: rgba(0, 0, 0, 0.969); /* Add a background color */
    padding: 10px; /* Add some padding */
    color: white; /* Add a text color */
    border-radius: 8px; /* Rounded corners */
}
  
.legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

.radarChart {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.clicked {
    background-color: gray;
    color: black;
    border: 2px solid #101010;
}
